<html>

<head>
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background: #607D8B;">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="{% url 'feedback:home' %}">home</a></li>
      {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'feedback:customers' %}">Customers</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'account:logout' %}">Logout</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'account:log_in' %}">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'account:signup' %}">Signup</a></li>
      {% endif %}
    </ul>
  </nav>
  <br/><br/><br/>
</body>

</html>