<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Customer Survey{% endblock %}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% include 'app_navbar.html' %} 
    <div class="container" style="height: 600px; position: relative">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>