{% extends 'base.html' %}

{% block title %}Appointment{% endblock %}

{% block head %}
<meta charset='utf-8' />
{% load static %}
<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/core@4.2.0/main.min.css">
<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid@4.2.0/main.min.css">
<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/timegrid@4.2.0/main.min.css">
<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/list@4.2.0/main.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/@fullcalendar/core@4.2.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/daygrid@4.2.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/interaction@4.2.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/timegrid@4.2.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/list@4.2.0/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/bootstrap@4.2.0/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        // Get appointments and parse them to json
        // create a list of events to suit our calendar format
        let calAppointments = '{{appointments}}'.replace(/&quot;/g, "\"");
        calAppointments = JSON.parse(calAppointments);
        let eventList = [];

        // check if user is authenticated or not
        var auth_status = {{ user.is_authenticated|yesno:"true,false" }};
        
        if (auth_status){
            calAppointments.map(appointment => {
                let ev = {
                    id: appointment.pk,
                    title: `${appointment.fields.first_name} ${appointment.fields.last_name}`,
                    start: appointment.fields.start_time
                };
                eventList.push(ev);
            });
        }else{
            calAppointments.map(appointment => {
                let ev = {
                    id: appointment.pk,
                    title: "BOOKED",
                    start: appointment.fields.start_time
                };
                eventList.push(ev);
            });
        }
       
        // Create calendar object and render it
        var calendar = new FullCalendar.Calendar(calendarEl, {

            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list', 'bootstrap'],
            themeSystem: 'bootstrap',

            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth, timeGridWeek,timeGridDay'
            },
            // defaultDate: '2019-06-12',
            allDaySlot: false,
            defaultView: 'timeGridWeek',
            firstDay: 1,
            slotDuration: '{{calendar_obj.slot_duration}}',
            minTime: '{{calendar_obj.start_time}}',
            maxTime: '{{calendar_obj.end_time}}',
            hiddenDays: '{{calendar_obj.non_working_days}}', // hide non working days.
            editable: true,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            eventOverlap: false,
            businessHours: {
                daysOfWeek: '{{calendar_obj.working_days}}',
                startTime: '{{calendar_obj.start_time}}',
                endTime: '{{calendar_obj.end_time}}',
            },

            selectable: true,

            eventClick: function (info) {
                if (auth_status){
                    let message = `User: ${info.event.title} \n Start: ${info.event.start}`
                    $('.modal-body').text(message);
                    $('#calModal').modal('show');
                    $('#appointment-delete').click(() => {
                        $.ajax({
                            type: "POST",
                            url: `/appointment/${info.event.id}`,
                            contentType: "application/json; charset=utf-8",
                            crossDomain: true,
                            headers: { "X-CSRFToken": "{{csrf_token}}" },
                            success: function (result, status, xhr) {
                                $(".modal-body").text(result);
                                info.event.remove();
                            },
                            error: function (xhr, status, error) {
                                $(".modal-body").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                            }
                        });

                    })
                }     
            },


            select: function (info) {
                if (confirm("Schedule an Appointment here!\n" + info.start + ' to\n' + info.end)) {
                    let date_str = info.startStr + "," + info.endStr;
                    let calendar_id = '{{calendar_obj.pk}}'
                    let url = "/appointment/calendar"
                    url = `${url}/${calendar_id}/details?start_time=${info.startStr}&end_time=${info.endStr}`
                    appointment_link = document.createElement('a');
                    appointment_link.setAttribute('href', url);
                    appointment_link.click();
                }
            },

            events: eventList,

            loading: function (bool) {
                document.getElementById('loading').style.display =
                    bool ? 'block' : 'none';
            }
        });
        calendar.render();
    });


</script>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 10px;
    }

    .container {
        height: 300px;
        position: relative;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 35%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}

{% block content %}
<div class="container center">
    <div style="align-content: flex-">
        <h1 class="text-primary">ACME Company</h1>
        <p><b>{{calendar_obj.office_location}}</b></h3>
            <p><b>Tel: 678-123-4567</b></p>
            <h4><a href="#">(Change Location)</a></h4>
    </div>
    <h3>Schedule Appointment</h2>
        <div id='loading'>loading...</div>
        <div id='calendar'></div>

</div>

<!-- The Modal -->
<div class="modal" id="calModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Appointment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="appointment-delete">Delete Appointment</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}