{% extends 'index.html' %}

{% block title %}Appointment{% endblock %}

{% block head %}
<meta charset='utf-8' />
{% load static %}
<link rel='stylesheet' href="{% static 'packages/core/main.css' %}">
<link rel='stylesheet' href="{% static 'packages/daygrid/main.css' %}">
<link rel='stylesheet' href="{% static 'packages/timegrid/main.css' %}">
<link rel='stylesheet' href="{% static 'packages/list/main.css' %}">

<script src="{% static 'packages/core/main.js' %}"></script>
<script src="{% static 'packages/interaction/main.js' %}"></script>
<script src="{% static 'packages/daygrid/main.js' %}"></script>
<script src="{% static 'packages/timegrid/main.js' %}"></script>
<script src="{% static 'packages/list/main.js' %}"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {

            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'], // 'bootstrap' ],
            // themeSystem: 'bootstrap',

            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth, timeGridWeek,timeGridDay'
            },
            // defaultDate: '2019-06-12',
            allDaySlot: false,
            defaultView: 'timeGridWeek',
            firstDay: 1,
            slotDuration: '00:15:00',
            minTime: '09:00',
            maxTime: '16:30',
            hiddenDays: [0, 2, 4, 6], // hide non working days.
            editable: true,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            eventOverlap: false,
            businessHours: {
                daysOfWeek: [1, 3, 5], 
                startTime: '09:00',
                endTime: '16:30',
            },

            selectable: true,

            dateClick: function (info) {
                alert('clicked ' + info.dateStr);
            }, //https://fullcalendar.io/docs/date-clicking-selecting-demo


            select: function (info) {
                alert('selected ' + info.startStr + ' to ' + info.endStr);
            },

            // events: {
            //   url: 'http://localhost:8000/get-events.php',
            //   failure: function() {
            //     document.getElementById('script-warning').style.display = 'block'
            //   }
            // },


            events: [
                
            ],

            loading: function (bool) {
                document.getElementById('loading').style.display =
                    bool ? 'block' : 'none';
            }
        });
        calendar.render();
    });


</script>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h2>ACME Company</h1>
    <p><b>123 Main office str, Atlanta, GA 30303</b></h3>
    <p><b>Tel: 678-123-4567</b></p>
    <h4><a href="#">(Change Location)</a></h4>
</div>
<div>
    <h3>Schedule Appointment</h2>
</div>
<div id='loading'>loading...</div>

<div id='calendar'></div>
{% endblock %}