{% extends 'index.html' %}

{% load material_form %}

{% block title %}Login{% endblock %}

{% block head %}
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    <style>
        .container {
          height: 200px;
          position: relative;
        }

        .center {
          margin: 0;
          position: absolute;
          top: 35%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="card center container white-text">
            <div class="card-title blue-grey" align="center">
                <br/><span style="font-size: xx-large">Reset Your Password</span>
            </div>
            <div class="card-content blue-grey" style="font-size: large">Confirm your password reset</div>
            <form method="POST" class="card-panel">
                {% csrf_token %}
                {% form form=form %}{% endform %} <br/>
                <button type="submit" name="_submit" class="btn btn-large blue-grey">Reset Password</button>
            </form>
        </div>
    {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}