{% extends 'index.html' %}

{% load material_form %}

{% block title %}Signup{% endblock %}

{% block head %}
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    <style>
        .container {
          height: 200px;
          position: relative;
        }

        .center {
          margin: 0;
          position: absolute;
          top: 35%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card center container white-text">
        <div class="card-title blue-grey" align="center">
            <br/><span style="font-size: xx-large">Register for an account here</span>
        </div>
        <div class="card-content blue-grey" style="font-size: large">This is for the Buisness owner only</div>
        <form method="POST" class="card-panel">
            {% csrf_token %}
            {% form form=company_form %}{% endform %}
            {% form form=user_form %}{% endform %} <br/>
            <button type="submit" name="_submit" class="btn btn-large blue-grey">Submit</button>

        </form>
    </div>
{% endblock %}