<html>
<head>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
</head>
<body>
<div class="navbar-fixed">
    <nav class="nav">
    <div class="nav-wrapper blue-grey">
      <a href="{% url 'feedback:home' %}" class="left brand-logo">
          <i class="material-icons">today</i><h6>Customer Survey</h6></a>
      <ul class="right">
        <li><a href="{% url 'feedback:home' %}"><i class="material-icons">home</i></a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'feedback:customers' %}">Customers</a></li>
            <li><a href="{% url 'account:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'account:log_in' %}">Login</a></li>
            <li><a href="{% url 'account:signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
</body>

</html>