{% extends 'index.html' %}
{% load material_form %}
{% block title %}Customer Form{% endblock %}

{% block head %}
    <style>
        .container {
          height: 200px;
          position: relative;
        }

        .center {
          margin: 0;
          position: absolute;
          top: 35%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card center container white-text">
        <div class="card-title blue-grey" align="center">
            <br/><span style="font-size: xx-large">Create Survey Form for a Customer</span>
        </div>
        <div class="card-content blue-grey" style="font-size: large">Fill in customer information</div>
        <form method="POST" class="card-panel">
            {% csrf_token %}
            {% form form=form %}{% endform %} <br/>
            <button type="submit" name="_submit" class="btn btn-large blue-grey">Submit</button>

        </form>
    </div>
{% endblock %}