{% extends 'index.html' %}
{% load material_form %}
{% block title %}
    Survey Results
{% endblock %}

{% block content %}
    <h2>Survey Results for Customer</h2>
    <a href="{% url "feedback:send_survey" customer.email %}">
                    <button class="btn-large">Send Survey</button>
     </a>
     <a href="{% url "feedback:customer_notes" customer.email %}">
                    <button class="btn-large">View Notes</button>
     </a>
    <ul>
        {% for answer in answers %}
            <li class="card blue-grey">
                <div class="card-content white-text">
                    <span class="card-title">{{answer.customer_answer}}</span>
                    <p>{{ answer.comment }}</p>
                </div>
            </li>
            {% empty %}
            <li>No surveys yet</li>
        {% endfor %}
    </ul>
{% endblock %}