{% extends 'index.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <div>
        <br/><br/><br/><br/><br/><br/><br/>
        <div>
            {% if user.is_superuser %}
                <h1 class="display-2">Welcome {{ user.username }}</h1>
                <p class="lead"><h4>Our goal is to ensure our users are well satisfied with our services</h4></p>
                <p class="lead"><h5>Use our admin dashboard to check statistics</h5></p>
                <div>
                    <a href="{% url "account:companies" %}"><button class="btn-large blue-grey">View Companies</button></a>
                </div>
            {% elif user.is_authenticated %}
                <h1 class="display-2">Welcome {{ user.username }}</h1>
                <p class="lead"><h4>Our goal is to ensure our users are well satisfied with our services</h4></p>
                <div>
                    <a href="{% url "feedback:create_survey" %}"><button class="btn-large blue-grey">Create survey</button></a>
                    <a href="{% url "appointment:calendar_list" %}"><button class="btn-large blue-grey">View Calendars</button></a>
                </div>
            {% else %}
                <h1 class="display-1">Customer Survey</h1>
                <p class="lead"><h4>Customers experience with our service is of high importance to us</h4></p>
                <div><br/>
                    <a href="{% url "account:log_in" %}"><button class="btn-large blue-grey">Get Started</button></a>
                    <a href="{% url "appointment:schedule_appointment" %}"><button class="btn-large blue-grey">Schedule Appointment</button></a>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}